<template>
  <v-card flat>
    <v-card-text>
      <v-layout wrap>
        <v-flex xs2>
          <h4 class="headline">Your Balances</h4>
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs1>
          <v-btn color="teal" dark slot="activator" class="mx-0" @click="getBalance">
            Refresh
          </v-btn>
        </v-flex>
        <v-flex xs12>
          <v-data-table :headers="headers" :items="tokens">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.symbol }}</td>
              <td>{{ props.item.balance }}</td>
              <td>{{ props.item.allowance }}</td>
              <td class="px-0">
                <v-tooltip top>
                  <v-btn slot="activator" :loading="loading[props.item.symbol].allowances" icon class="px-0" v-if="props.item.allowance === '0'" @click="setAllowances(props.item.symbol)">
                    <v-icon color="green">check</v-icon>
                  </v-btn>
                  <span>Set Allowances</span>
                </v-tooltip>
                <v-tooltip top>
                  <v-btn slot="activator" :loading="loading[props.item.symbol].wrap" icon class="px-0" v-if="props.item.symbol === 'ETH'" @click="wrapEth(1)" :disabled="props.item.balance === '0'">
                    <v-icon color="indigo">compare_arrows</v-icon>
                  </v-btn>
                  <span>Wrap ETH</span>
                </v-tooltip>
                <v-tooltip top>
                  <v-btn slot="activator" :loading="loading[props.item.symbol].unwrap" icon class="px-0" v-if="props.item.symbol === 'WETH'" @click="unwrapEth(1)" :disabled="props.item.balance === '0'">
                    <v-icon color="blue">compare_arrows</v-icon>
                  </v-btn>
                  <span>Unwrap ETH</span>
                </v-tooltip>
              </td>
            </template>
          </v-data-table>
          <v-alert :type="alert.type" outline dismissible v-model="alert.toggle" transition="scale-transition">
            <span v-if="alert.type === 'success'">Transaction Hash:
              <a :href="`http://23.24.168.98:8000/#/tx/${alert.text}`" target="_blank">{{ alert.text }}</a>
            </span>
            <span v-if="alert.type === 'error'">{{alert.text}}</span>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
// Controls the Balances tab
import { BigNumber } from '@0xproject/utils'
import { ZeroEx } from '0x.js'
export default {
  name: 'Balances',
  props: {
    // current token pair states
    base: Object,
    quote: Object
  },
  data() {
    return {
      // headers for the balances table
      headers: [
        {
          text: 'Token',
          align: 'left',
          value: 'symbol'
        },
        {
          text: 'Balance',
          align: 'left',
          value: 'balance'
        },
        {
          text: 'Allowances',
          align: 'left',
          value: 'allowance'
        },
        {
          text: 'Actions',
          align: 'left',
          sortable: false,
          value: 'token'
        }
      ],
      // loading state for allowance & conversion requests for all of the different tokens
      loading: {},
      // table pagination controls
      pagination: {
        rowsPerPage: 5
      },
      // all relavent tokens to be queried
      tokens: [],
      // status of the alert box to inform the user of allowance & conversion progress
      alert: {
        toggle: false,
        type: 'success',
        text: ''
      }
    }
  },
  mounted() {
    // grab all the balances on mount
    this.getBalance()
  },
  methods: {
    async getBalance() {
      // grab all of the available addresses (if using metamask there should only be one)
      const addresses = await zeroEx.getAvailableAddressesAsync()
      // set the relavent tokens to the current BASE/QUOTE pair
      const tokens = [this.base, this.quote]
      // query the balance of all relavent tokens
      this.tokens = await Promise.all(
        tokens.map(async token => {
          // sets the loading state for a particular token
          // signal a vue state change becuase this key was not given an observer naturally
          this.$set(this.loading, token.symbol, {
            allowances: false,
            wrap: false,
            unwrap: false
          })
          // grab the balance
          const balance = await zeroEx.token.getBalanceAsync(token.address, addresses[0])
          // grab the allowances (used by the exchange contract)
          const allowance = (await zeroEx.token.getProxyAllowanceAsync(
            token.address,
            addresses[0]
          )).toString()
          // used to check if the allowance is infinite
          const inf =
            '115792089237316195423570985008687907853269984665640564039457584007913129639935'
          return {
            symbol: token.symbol,
            balance: this.toEther(balance.toString()),
            allowance: allowance === inf ? '∞' : allowance
          }
        })
      )
      // sets the loading state for ETH
      // signal a vue state change becuase this key was not given an observer naturally
      this.$set(this.loading, 'ETH', {
        allowances: false,
        wrap: false,
        unwrap: false
      })
      // query the ETH balance (ETH doesnt have allowances; this is why we need to convert it to WETH first)
      this.tokens.push({
        symbol: 'ETH',
        balance: this.toEther(await web3.eth.getBalance(addresses[0])),
        allowance: 'N/A'
      })
    },
    toEther(value) {
      // converts values in Wei to ether
      return web3.utils.fromWei(value, 'ether')
    },
    // covnerts ETH -> WETH
    async wrapEth(amount) {
      try {
        // turn on the ETH covnersion loading spinner
        this.loading.ETH.wrap = true
        // ZeroEx expects big numbers
        const ethToConvert = ZeroEx.toBaseUnitAmount(new BigNumber(amount), 18)
        // grab all of the available addresses (if using metamask there should only be one)
        const addresses = await zeroEx.getAvailableAddressesAsync()
        // submit the conversion request
        const tx = await zeroEx.etherToken.depositAsync(client.weth, ethToConvert, addresses[0])
        // wait for confirmation that it has been mined
        const confirm = await zeroEx.awaitTransactionMinedAsync(tx)
        // grab the balance after the transfer complete
        await this.getBalance()
        // set the alert state to success and display the transaction hash
        this.alert.text = confirm.transactionHash
        this.alert.type = 'success'
        console.log(confirm)
      } catch (err) {
        // if there was an error, set the alert state to error and display the error
        console.log(err)
        this.alert.text = `${err.message.split('.')[0]}.`
        this.alert.type = 'error'
      } finally {
        // turn off the loading spinner when everything is finished
        this.loading.ETH.wrap = false
        // show the alert box
        this.alert.toggle = true
      }
    },
    // covnerts WETH -> ETH
    async unwrapEth(amount) {
      try {
        // turn on the WETH covnersion loading spinner
        this.loading.WETH.unwrap = true
        // ZeroEx expects big numbers
        const ethToConvert = ZeroEx.toBaseUnitAmount(new BigNumber(amount), 18)
        // grab all of the available addresses (if using metamask there should only be one)
        const addresses = await zeroEx.getAvailableAddressesAsync()
        // submit the conversion request
        const tx = await zeroEx.etherToken.withdrawAsync(client.weth, ethToConvert, addresses[0])
        // wait for confirmation that it has been mined
        const confirm = await zeroEx.awaitTransactionMinedAsync(tx)
        // grab the balance after the transfer complete
        await this.getBalance()
        // set the alert state to success and display the transaction hash
        this.alert.text = confirm.transactionHash
        this.alert.type = 'success'
        console.log(confirm)
      } catch (err) {
        // if there was an error, set the alert state to error and display the error
        console.log(err)
        this.alert.text = `${err.message.split('.')[0]}.`
        this.alert.type = 'error'
      } finally {
        // turn off the loading spinner when everything is finished
        this.loading.WETH.unwrap = false
        // show the alert box
        this.alert.toggle = true
      }
    },
    // sets the allowances for a particular token so the exchange can transfer money on your behalf
    async setAllowances(symbol) {
      try {
        // turn on the allowance loading spinner for the token in question
        this.loading[symbol].allowances = true
        // get the address of the token
        const tokenInfo = await zeroEx.tokenRegistry.getTokenBySymbolIfExistsAsync(symbol)
        if (tokenInfo === undefined) {
          throw new Error('Could not find token info.')
        }
        // grab all of the available addresses (if using metamask there should only be one)
        const addresses = await zeroEx.getAvailableAddressesAsync()
        // currently defaults to infinite allowance
        // TODO: allow the user to set the exact allowance value
        const tx = await zeroEx.token.setUnlimitedProxyAllowanceAsync(
          tokenInfo.address,
          addresses[0]
        )
        // wait for confirmation that it has been mined
        const confirm = await zeroEx.awaitTransactionMinedAsync(tx)
        // grab the balance after the transfer complete
        await this.getBalance()
        // set the alert state to success and display the transaction hash
        this.alert.text = confirm.transactionHash
        this.alert.type = 'success'
        console.log(confirm)
      } catch (err) {
        // if there was an error, set the alert state to error and display the error
        console.log(err)
        this.alert.text = `${err.message.split('.')[0]}.`
        this.alert.type = 'error'
      } finally {
        // turn off the loading spinner when everything is finished
        this.loading[symbol].allowances = false
        // show the alert box
        this.alert.toggle = true
      }
    }
  },
  watch: {
    quote: function() {
      // re-query the balance when the quote token changes
      this.getBalance()
    },
    base: function() {
      // re-query the balance when the base token changes
      this.getBalance()
    }
  }
}
</script>
