<template>
  <v-layout wrap justify-center>
    <v-flex xs10 class="mt-5 mx-1">
      <v-tabs v-model="active" color="primary" dark :slider-color="`${orderSlider} accent-3`" fixed centered>
        <v-tab :key="'asks'" href="#asks" ripple>
          Asks
        </v-tab>
        <v-tab :key="'bids'" href="#bids" ripple>
          Bids
        </v-tab>
        <v-tab :key="'newOrder'" href="#newOrder" ripple>
          New Order
        </v-tab>
        <v-tab :key="'balances'" href="#balances" ripple>
          Balances
        </v-tab>
        <v-tab-item id="asks" :key="'asks'">
          <OrderList :items="asks" :quote="quote" :base="base" title="Asks" color="red" />
        </v-tab-item>
        <v-tab-item id="bids" :key="'bids'">
          <OrderList :items="bids" :quote="quote" :base="base" title="Bids" color="teal" />
        </v-tab-item>
        <v-tab-item id="newOrder" :key="'newOrder'">
          <NewOrder :quote="quote" :base="base" />
        </v-tab-item>
        <v-tab-item id="balances" :key="'balances'">
          <Balances :quote="quote" :base="base" />
        </v-tab-item>
      </v-tabs>
    </v-flex>
    <v-flex xs10>
      <p class="text-xs-center">Go to the balances tab and set your allowances before you start.</p>
    </v-flex>
  </v-layout>
</template>

<script>
import OrderList from './OrderList'
import NewOrder from './NewOrder'
import Balances from './Balances'
export default {
  name: 'Exchange',
  props: {
    // synced orderbook from the base App
    orderbook: Object,
    // synced quote token from the base App
    quote: Object,
    // synced base token from the base App
    base: Object
  },
  data() {
    return {
      // sets the active tab on page load to 'Asks'
      active: 'asks'
    }
  },
  components: { NewOrder, OrderList, Balances },
  computed: {
    asks: function() {
      const now = new Date().getTime()
      return Object.values(this.orderbook.asks)
        // dont show any expired orders
        .filter(ask => parseFloat(ask.expirationUnixTimestampSec) > now)
        // formats the ask orders for display in the asks table
        .map(ask => {
          // set the price in terms of the quote token
          ask.price = ask.takerTokenAmount / ask.makerTokenAmount
          // set the amount of the base token being sold
          ask.amount = this.toEther(ask.makerTokenAmount)
          // set the total quote token amount being asked for
          ask.total = this.toEther(ask.takerTokenAmount)
          return ask
        })
    },
    bids: function() {
      const now = new Date().getTime()
      return Object.values(this.orderbook.bids)
        // dont show any expired orders
        .filter(bid => parseFloat(bid.expirationUnixTimestampSec) > now)
        // formats the bid orders for display in the bids table
        .map(bid => {
          // set the price in terms of the quote token
          bid.price = bid.makerTokenAmount / bid.takerTokenAmount
          // set the amount of the base token being bought
          bid.amount = this.toEther(bid.takerTokenAmount)
          // set the total quote token amount being sold for
          bid.total = this.toEther(bid.makerTokenAmount)
          return bid
        })
    },
    orderSlider: function() {
      // changes the color of the tab slider based on the active tab
      return this.active === 'asks' ? 'red' : this.active === 'bids' ? 'teal' : this.active === 'newOrder' ? 'yellow' : 'purple'
    }
  },
  methods: {
    toEther(value) {
      // converts values that are be default in Wei to ether
      return window.web3.utils.fromWei(value, 'ether')
    }
  }
}
</script>

<style>
.clickable {
  cursor: pointer;
}
</style>

