<template>
  <v-card class="pa-2">
    <v-card-text>
      <v-layout wrap>
        <v-flex xs2 class="headline mb-2">
          <v-select :items="sides" v-model="side" label="Select" overflow></v-select>
        </v-flex>
        <v-flex xs12></v-flex>
        <v-flex xs12>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field label="Rate" v-model.number="price" :rules="[v => !!v || `Price must be greater than zero`, ]" required :suffix="`${base.symbol}/${quote.symbol}`"></v-text-field>
            <v-text-field label="Amount" v-model.number="amount" :rules="[v => !!v || `Amount must be greater than zero`]" required :suffix="base.symbol"></v-text-field>
            <v-text-field label="Total" v-model.number="total" :suffix="quote.symbol"></v-text-field>
          </v-form>
        </v-flex>
        <v-flex xs12>
          <v-alert :type="alert.type" outline dismissible v-model="alert.toggle" transition="scale-transition">
            <span>{{alert.text}}</span>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn color="primary" @click="$refs.form.validate() && create()" :disabled="!valid || loading" :loading="loading">
        submit
      </v-btn>
      <v-btn color="primary" @click="clear">clear</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
// Controls the New Order tab
export default {
  name: 'NewOrder',
  props: {
    // current token pair states
    base: Object,
    quote: Object
  },
  data() {
    return {
      // keeps track of entire valid state of the form (linked to the form validation method and returns true if all rules are passed)
      valid: true,
      // keeps track of the loading state when a new order is submitted
      loading: false,
      // temp state for the price (form variable)
      tprice: 0,
      // temp state for the amount (form variable)
      tamount: 0,
      // temp state for the total (form variable)
      ttotal: 0,
      // valid sides to determine of you are buying or selling the base token
      sides: [`Buy ${this.base.symbol}`, `Sell ${this.base.symbol}`],
      // start with buy by default
      side: `Buy ${this.base.symbol}`,
      // controls the state of the alert box to inform the user about the status of a new order submittion
      alert: {
        toggle: false,
        type: 'success',
        text: ''
      }
    }
  },
  computed: {
    // the actual amount variable
    amount: {
      get: function() {
        // links to the temp variable
        return this.tamount
      },
      set: function(newValue) {
        this.tamount = newValue
        // update the total quote token amount when a new value is recieved
        this.ttotal = this.price * this.tamount
      }
    },
    // the actual total variable
    total: {
      get: function() {
        // links to the temp variable
        return this.ttotal
      },
      set: function(newValue) {
        this.ttotal = newValue
        if (this.price > 0) {
          // update the amount of the base token when a new value is recieved
          this.tamount = this.ttotal / this.price
        }
      }
    },
    // the actual price variable
    price: {
      get: function() {
        // links to the temp variable
        return this.tprice
      },
      set: function(newValue) {
        if (newValue > 0 && this.tprice > 0) {
          // update the amount of the base token when a new value is recieved
          this.tamount = this.tprice * this.ttotal / newValue
          // update the total quote token amount when a new value is recieved
          this.ttotal = this.tamount * newValue / this.tprice
        }
        this.tprice = newValue
      }
    },
    maker: function() {
      // determines the maker token based on the side
      return this.side.includes('Buy') ? this.quote : this.base
    },
    taker: function() {
      // determines the taker token based on the side
      return this.side.includes('Buy') ? this.base : this.quote
    }
  },
  methods: {
    // creates a new order when the submit button is pressed
    async create() {
      try {
        // turn on the loading spinner to indicate the new order is being processed
        this.loading = true
        // grab all available addresses (if using metamask there should only be one)
        const addresses = await zeroEx.getAvailableAddressesAsync()
        // determine which amounts & address to use for maker & taker sides
        const makerAddress = this.maker.address
        const takerAddress = this.taker.address
        const makerAmount = this.maker.symbol === this.base.symbol ? this.amount : this.total
        const takerAmount = this.maker.symbol === this.base.symbol ? this.total : this.amount
        // submit the order to the relayer client
        await window.client.newOrder(
          addresses[0],
          makerAddress,
          takerAddress,
          makerAmount,
          takerAmount
        )
        // if there are no errors update the alert box to the success state
        this.alert.text = 'Success!'
        this.alert.type = 'success'
      } catch (err) {
        // if there are no errors update the alert box to the error state
        this.alert.text = `${err.message.split('.')[0]}.`
        this.alert.type = 'error'
      } finally {
        // always turn off spinner
        this.loading = false
        // always toggle the alert box
        this.alert.toggle = true
      }
    },
    // clear all variables in the form
    clear() {
      this.$refs.form.reset()
    }
  },
  watch: {
    base: function() {
      // changes the buy & sell selection options when the base token changes
      this.sides = [`Buy ${this.base.symbol}`, `Sell ${this.base.symbol}`]
      this.side = this.sides[0]
    }
  }
}
</script>
