<template>
  <v-card flat>
    <v-card-text>
      <v-layout wrap>
        <v-flex xs4 class="headline">
          {{title}}
        </v-flex>
        <v-spacer></v-spacer>
        <v-flex xs4>
          <v-text-field append-icon="search" label="Search" v-model="search"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-data-table :headers="headers" :items="items">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.maker }}</td>
              <td>{{ props.item.price }}</td>
              <td>{{ props.item.amount }}</td>
              <td>{{ props.item.total }}</td>
              <td>{{ date(props.item.expirationUnixTimestampSec) }}</td>
              <td class="justify-center layout px-0">
                <v-btn :loading="loading" icon class="mx-0" @click="fillOrder(props.item)">
                  <v-icon :color="color">compare_arrows</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
          <v-alert :type="alert.type" outline dismissible v-model="alert.toggle" transition="scale-transition">
            <span v-if="alert.type === 'success'">Transaction Hash:
              <a :href="`http://23.24.168.98:8000/#/tx/${alert.text}`" target="_blank">{{ alert.text }}</a>
            </span>
            <span v-if="alert.type === 'error'">{{alert.text}}</span>
          </v-alert>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
import { BigNumber } from '@0xproject/utils'
// Controls the Bids and Asks tabs
export default {
  name: 'OrderList',
  props: {
    // the items to be displayed in the table (bids or asks)
    items: Array,
    // current token pair states
    quote: Object,
    base: Object,
    // title display
    title: String,
    // color of the order fill button (green for bids and red for asks)
    color: String
  },
  data() {
    return {
      // controls the table search filter (searches all columns)
      search: '',
      // controls the table pagination options
      pagination: {
        rowsPerPage: 5
      },
      // keeps track of the loading state of the order fill process
      loading: false,
      // controls alert display and messages (for different parts of the order fill process)
      alert: {
        toggle: false,
        type: 'success',
        text: ''
      }
    }
  },
  computed: {
    headers: function() {
      // table headers
      // needs to be dynamic because the BASE/QUOTE pair can change at any time
      return [
        {
          text: 'Maker',
          align: 'left',
          value: 'maker'
        },
        {
          text: `Price (${this.quote.symbol})`,
          align: 'left',
          value: 'price'
        },
        {
          text: `Amount (${this.base.symbol})`,
          align: 'left',
          value: 'amount'
        },
        {
          text: `Total (${this.quote.symbol})`,
          align: 'left',
          value: 'total'
        },
        {
          text: 'Expiration',
          align: 'left',
          value: 'expirationUnixTimestampSec'
        },
        {
          text: `${this.title === 'Asks' ? 'Buy' : 'Sell'} ${this.base.symbol}`,
          align: 'left',
          value: 'total'
        }
      ]
    }
  },
  methods: {
    date(sec) {
      // converts a millisecond timestamp to a local date formated string
      return new Date(parseFloat(sec)).toLocaleString()
    },
    // initates a fill order request when one of the fill order buttons is pressed
    async fillOrder(order) {
      try {
        // toggle the loading spinner
        this.loading = true
        // get all available address (there should only be one if you are using metamask)
        const addresses = await zeroEx.getAvailableAddressesAsync()
        // create a copy of the order so we can convert amounts back to big numbers
        const item = { ...order }
        item.takerTokenAmount = new BigNumber(order.takerTokenAmount)
        item.makerTokenAmount = new BigNumber(order.makerTokenAmount)
        item.expirationUnixTimestampSec = new BigNumber(order.expirationUnixTimestampSec)
        // send the order fill request to the exchange contract
        const txHash = await zeroEx.exchange.fillOrderAsync(
          item,
          item.takerTokenAmount,
          true,
          addresses[0]
        )
        // wait for confirmation that the transaction was completed
        const confirm = await zeroEx.awaitTransactionMinedAsync(txHash)
        // update the alert text with the transaction hash (so they can look it up on the block explorer)
        this.alert.text = confirm.transactionHash
        // set the alert type to success (green)
        this.alert.type = 'success'
        console.log(txHash)
      } catch (err) {
        console.log(err)
        // extract the relavent parts of the error message for display in the alert
        this.alert.text = `${err.message.split('.')[0]}.`
        // set the alert type to success (red)
        this.alert.type = 'error'
      } finally {
        // stop the spinner regardless of outcome
        this.loading = false
        // show the alert box
        this.alert.toggle = true
      }
    }
  }
}
</script>

<style>
.clickable {
  cursor: pointer;
}
</style>

