<template>
    <v-dialog v-model="dialog" persistent max-width="700px">
        <v-card class="pa-2">
            <v-card-title>
                <v-layout justify-center align-center>
                    <v-flex xs3>
                        <v-select :items="baseTokens" v-model="base" label="Base Token" autocomplete></v-select>
                    </v-flex>
                    <v-flex xs3 class="mx-3">
                        <v-select :items="quoteTokens" v-model="quote" label="Quote Token" autocomplete></v-select>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn color="primary" @click="$emit('click', {base, quote})" :disabled="!valid">
                            submit
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-card-title>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
  name: 'PairSelect',
  props: {
    dialog: Boolean,
    tokens: Array
  },
  data() {
    return {
      // local base token state
      // TODO: sync with current base token state
      base: 'ZRX',
      // local quote token state
      // TODO: sync with current quote token state
      quote: 'WETH'
    }
  },
  computed: {
    baseTokens: function() {
      // return all tokens that aren't the quote token
      return this.tokens.filter(token => token !== this.quote)
    },
    quoteTokens: function() {
      // return all tokens that aren't the base token
      return this.tokens.filter(token => token !== this.base)
    },
    valid: function() {
      // require a valid BASE/QUOTE pair in order to hit submit
      return !!this.base && !!this.quote
    }
  }
}
</script>
