<template>
  <v-app>
    <v-toolbar dark fixed app color="primary">
      <img class="logo" src="http://cuvialabs.com/wp-content/uploads/cropped-CuviaSiteLogo-1.png" alt="logo" height="32" width="32" />
      <v-toolbar-title>Testnet Exchange (0x Protocol)</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat @click="select=true" :disbaled="install || !loggedIn || starting">{{`${this.base.symbol}/${this.quote.symbol}`}}</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <Exchange v-if="!install && loggedIn && !starting" :orderbook="orderbook" :base="base" :quote="quote"></Exchange>
      <v-layout v-if="!loggedIn && !install" justify-center align-center class="ma-5">
        Login to MetaMask and refresh the page.
      </v-layout>
      <v-layout v-if="install" justify-center align-center class="ma-5">
        <span>Install
          <a href="https://metamask.io/" target="_blank">MetaMask</a> and refresh the page.</span>
      </v-layout>
      <v-layout v-if="!install && loggedIn && starting" justify-center align-center class="ma-5">
        <v-progress-circular indeterminate :size="70" color="primary"></v-progress-circular>
      </v-layout>
      <PairSelect :dialog="select" :tokens="tokens" @click="changePair" />
    </v-content>
    <v-footer app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import Web3 from 'web3'
import { ZeroEx } from '0x.js'
import RelayerClient from '@/api/relayerClient'
import Exchange from '@/components/Exchange'
import PairSelect from '@/components/PairSelect'
export default {
  name: 'App',
  data() {
    return {
      // startup state of the relay client
      loading: { start: true },
      // keeps track of whether or not the user is logged in to metamask (shows the login prompt)
      loggedIn: false,
      // keeps track of whether or not the user needs to install metamask (shows the install prompt)
      install: false,
      // client orderbook state -> linked to the relay client
      orderbook: { bids: {}, asks: {} },
      // keeps track of all tokens in the token registry
      tokens: [],
      // BASE/QUOTE pair state -> linked to the relay client
      base: { symbol: 'ZRX', address: '' },
      quote: { symbol: 'WETH', address: '' },
      // spawns / closes the token selection dialog modal
      select: false
    }
  },
  components: { Exchange, PairSelect },
  mounted() {
    // initiate provider & relay startup on mount
    this.init()
  },
  computed: {
    starting: function() {
      // shorthand for the startup state of the relay client
      return this.loading.start
    }
  },
  methods: {
    async init() {
      // Supports Metamask and Mist, and other wallets that provide 'web3'.
      if (typeof web3 !== 'undefined') {
        // Use the Mist/wallet provider.
        console.log('Connected')
        window.web3 = new Web3(web3.currentProvider)
        // use the number of available accounts to check of the user is logged in
        const accounts = await window.web3.eth.getAccounts()
        // if there are zero available accounts, the user is not logged in
        this.loggedIn = accounts.length > 0
        if (this.loggedIn) {
          // set the default account to be used for transactions
          web3.eth.defaultAccount = accounts[0]
          // hard-code ZeroEx to point to our private network
          // TODO: make this configurable
          window.zeroEx = new ZeroEx(web3.currentProvider, {
            networkId: 567820,
            zrxContractAddress: '0x95144990c0fc35f9b7ec90b1eb1b3bb892d393c3',
            exchangeContractAddress: '0xa9f25264de8c83b577641249e63f1e4116b49ad4',
            tokenRegistryContractAddress: '0xba47ed9dc6362e39a579e3678de98e615270fa37',
            tokenTransferProxyContractAddress: '0x7fd2b7e0ea412a6ea59349322529b049c8ddebec'
          })
          // grab all valid tokens from the token registry contract (used for pair selection modal)
          this.tokens = (await window.zeroEx.tokenRegistry.getTokensAsync()).map(
            token => token.symbol
          )
          // start the relay client using the default BASE/QUOTE pair
          window.client = new RelayerClient(window.zeroEx, this.base.symbol, this.quote.symbol)
          // syncing local loading state with relayer client loading state
          this.loading = window.client.loading
        }
      } else {
        // the user needs to install metamask
        this.install = true
        console.log('Install Metamask.')
      }
    },
    changePair(pair) {
      // called when the user hits submit in the token selection modal
      // closes the modaL
      this.select = false
      // changes the relay client only if the selection is a new pair
      if (pair.base !== this.base.symbol || pair.quote !== this.quote.symbol) {
        // reinstantiate the relay client with the new pair
        window.client = new RelayerClient(window.zeroEx, pair.base, pair.quote)
        // resyncing local loading state with the new relayer client loading state
        this.loading = window.client.loading
      }
    }
  },
  watch: {
    starting: function(newVal) {
      // synchronize local order book and token pairs with relay client when it has finished starting
      if (!newVal) {
        this.orderbook = client.orderbook
        this.base = client.baseToken
        this.quote = client.quoteToken
      }
    }
  }
}
</script>
